.box{
    display: inline-block;
    align-content: space-between;

    background-color: black;
    border-color: lightgrey;
    border-width: 5px;
    border-style: solid;
    padding: 10px 10px;
    margin: 10px 10px;
    border-radius: 30px;
}

.button{
    display: inline-flex;
    flex-direction: column;

    background-color: gold;
    color: black;
    border-color: gold;
    border-width: 2px;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 10px;
}

.input{
    display: inline-flex;
    flex-direction: column;

    background-color: white;
    color: black;
    border-color: lightgrey;
    border-width: 2px;
    text-shadow: 2px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 5px;
}